* {
	box-sizing: border-box !important;
  margin: 0;
	font-family: Roboto, 'Courier New', Courier, monospace;
	color: white;
	cursor: default;
	user-select: none;
}

body,
html {
	background-color: #000;
	width: 100%;
	height: 100vh;
}

h1 {
	color: #656575;
}

header {
	background-color: #222;
	padding: 20px;
}

/* Utility Classes */
.hide {
	display: none !important;
}

.flex-row {
	display: flex;
	flex-flow: row wrap;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.center {
	text-align: center;
	justify-content: center;
	align-items: center;
}

.text-center {
	text-align: center;
}

.space-between {
	display: flex;
	justify-content: space-between;
}

.absolute-right {
	position: absolute;
	right: 0;
}

.pointer:hover,
.pointer:target {
	cursor: pointer;
}

.pad5 {
	padding: 5px;
}

.pad10 {
	padding : 10px;
}

.w50 {
	width: 50%;
}

.w100 {
	width: 100%;
}

.vh15 {
	height: 15vh;
}

.vh70 {
	height: 70vh;
}

.vh100 {
	height: 100vh;
}

.overflow-hidden {
	overflow: hidden;
}

.overflow-x-hidden {
	overflow-x: hidden;
}

/* Specific Classes */
.catBtnContainer,
.subcatBtnContainer {
	border: 1px solid #222;
	margin-bottom: .6em;
	padding: 0;
	width: 100%;
}

.catBtnContainer:last-child {
	margin-bottom: 1.2em;
}

.catBtn,
.subcatBtn {
	width: 100%;
	margin: 1px 0;
	padding: 10px 10%;
	cursor: pointer;
}

.catBtn:hover,
.catBtn:focus,
.subcatBtn:hover,
.subcatBtn:focus {
	background-color: #888;
}

.catBtn:active,
.subcatBtn:active {
	background-color: #00f2f7;
}

.catBtn {
	background-color: #112;
}

.subcatBtn {
	background-color: #223;
}

/* IDs */
#homepage,
#slidePage {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

#slidepage__header {
	background-color: #222;
	padding: 0;
	margin: 0;
}

#slidepage__header:focus,
#slideTitle:hover {
	cursor: pointer;
}

#slide {
	display: flex;
	flex-flow: column;
	/* object-fit: contain; */
}

#slide__img {
	width: auto;
	height: 100%;
	padding: 0 1em;
}

#slide__text {
	position: absolute;
	font-family: Rokkitt;
	background-image: linear-gradient(rgba(60,60,60,0.5), #222 5%, #111 95%, rgba(60,60,60,0.5));
	color: white;
	text-align: left;
}

.ref { color: #aaa }

.catImg {
	height: 60px;
}

#slide__text:active {
	background-color: #00f2f7;
}

#navBtnContainer {
	background-color: #222;
	position: fixed;
	bottom: 0;
}

#navBtnContainer button {
	border: 4px outset #444;
	background-color: #222;
	color: #666;
	font-size: 75px;
}

#navBtnContainer button:active {
	border: 4px inset #222;
	background-color: #00f2f7;
}

/* Animations from W3.CSS 4.13 */
.animate-top {
	position: relative;
	animation: animatetop 0.3s;
}

@keyframes animatetop {
	from {
		top: -500px;
		opacity: 0;
	}

	to {
		top: 0;
		opacity: 1;
	}
}

.animate-bottom {
	position: relative;
	animation: animatebottom 0.3s;
}

@keyframes animatebottom {
	from {
		bottom: -500px;
		opacity: 0;
	}

	to {
		bottom: 0;
		opacity: 1;
	}
}

.animate-left {
	position: relative;
	animation: animateleft 0.3s;
}

@keyframes animateleft {
	from {
		left: -1920px;
		opacity: 0;
	}

	to {
		left: 0;
		opacity: 1;
	}
}

.animate-right {
	position: relative;
	animation: animateright 0.3s;
}

@keyframes animateright {
	from {
		right: -1920px;
		opacity: 0;
	}

	to {
		right: 0;
		opacity: 1;
	}
}
